[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = jerry
    email = {{ .email }}

[init]
    defaultBranch = main

#----------------------------
# delta config
#----------------------------

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[core]
    pager = delta --diff-so-fancy

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
