/* make about:blank page dark */
webview[src="about:blank"]::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorBg);
}

/* remove titlebar */
#header {
    display: none;
}

/* change ui font */
/* * { */
/*     font-family: MonaspiceNe Nerd Font; */
/* } */
